<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sports-bets-ios.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B0E303EA2C733E2900E0877C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0E303FC2C733E2B00E0877C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0E304062C733E2B00E0877C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
